@page
@model IndexModel
@{
    ViewData["Title"] = "Video Downloader";
}
<head>
    <link rel="stylesheet" href="~/css/IndexModelSheet.css"/>
</head>

<div class="Topic">Download Videos</div>

<form method="post">
    <div class="form-group">
        <label class="label" for="urlInput">Video URL </label>
        <input type="text" class="form-control" id="urlInput" name="url" placeholder="past url here" required />
    </div>
    <button type="submit" class="submitButton">Download</button>
</form>
