@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>PixelGraby is a new emerging online video downloader. It is in its alpha developmet pahse.
    Do not use this for your production.
</p>
